@model DateViewModel
@{
	ViewData["Title"] = @Model.DateString;
	ViewData["Compact"] = true;
}

<header>
	<h1>
		@Model.DateString
	</h1>
</header>
<main>
	<ul class="events">
		@foreach (EventViewModel item in Model.Events) {
			<li>
				<h2>@item.Time.ToString("HH:mm")</h2>
				<p>@item.Description</p>
				<form class="actions" method="post">
					<a href="edit/@item.Id" class="button">Edit</a>
					<button name="action" value="delete">Delete</button>
					<input type="hidden" name="id" value="@item.Id">
				</form>
			</li>
		}
	</ul>
	<div class="finalbuttons">
		<a href="@Model.Year-@Model.Month.ToString().PadLeft(2, '0')" class="button large">Back</a>
		<a href="@Model.DateString/new" class="button large">Add new</a>
	</div>
</main>
