@model CalendarViewModel
@{
	ViewData["Title"] = Model.MonthName + " " + Model.Year;
}

<header>
	<h1 class="monthpicker">
		<span>
			<span id="monthDisplay">@Model.MonthName</span>
			<select id="month" onchange="changeMonth()">
				<option value="01" selected="@(Model.Month == 1)">January</option>
				<option value="02" selected="@(Model.Month == 2)">February</option>
				<option value="03" selected="@(Model.Month == 3)">March</option>
				<option value="04" selected="@(Model.Month == 4)">April</option>
				<option value="05" selected="@(Model.Month == 5)">May</option>
				<option value="06" selected="@(Model.Month == 6)">June</option>
				<option value="07" selected="@(Model.Month == 7)">July</option>
				<option value="08" selected="@(Model.Month == 8)">August</option>
				<option value="09" selected="@(Model.Month == 9)">September</option>
				<option value="10" selected="@(Model.Month == 10)">October</option>
				<option value="11" selected="@(Model.Month == 11)">November</option>
				<option value="12" selected="@(Model.Month == 12)">December</option>
			</select>
			<button class="circle down dropdown"></button>
		</span>
		<span>
			<span id="year">@Model.Year</span>
			<button class="circle up" onclick="changeYear(true)"></button>
			<button class="circle down" onclick="changeYear(false)"></button>
			<button id="acceptDate" class="circle accept" onclick="changeDate()" disabled></button>
		</span>
	</h1>
</header>
<main>
	@for (int i = 0; i < Model.StartWeekday; i++) {
		<div class="day"></div>	
	}
	@for (int day = 1; day <= Model.DayCount; day++) {
		<div class="day @(Model.Events[day].Count > 0 ? "busy" : "")">
			<a href="@Model.Year-@Model.Month.ToString().PadLeft(2, '0')-@day.ToString().PadLeft(2, '0')">
				<h2>@day</h2>
				<ul>
					@foreach (EventViewModel item in Model.Events[day]) {
						<li>@item.Description</li>
					}
				</ul>
			</a>
		</div>
	}
</main>
