@model DateViewModel
@{
	ViewData["Title"] = Model.Year
						+ "-"
						+ Model.Month.ToString().PadLeft(2, '0')
						+ "-"
						+ Model.Day.ToString().PadLeft(2, '0');
	ViewData["Compact"] = true;
}

<header>
	<h1>
		@ViewData["Title"]
	</h1>
</header>
<main>
	<ul class="events">
		@foreach (EventViewModel item in Model.Events) {
			<li>
				<h2>@item.Time.ToString("HH:mm")</h2>
				<p>@item.Description</p>
				<form class="actions" method="post">
					<input type="hidden" name="id" value="@item.Id">
					<button name="action" value="edit">Edit</button>
					<button name="action" value="delete">Delete</button>
				</form>
			</li>
		}
	</ul>
	<div class="finalbuttons">
		<a href="@Model.Year-@Model.Month.ToString().PadLeft(2, '0')" class="button large">Back</a>
		<form method="post">
			<input type="hidden" name="action" value="new">
			<button class="large">Add new</button>
		</form>
	</div>
</main>
